@if (!isLoading) {


@if (cart.numOfCartItems!=0) {
<div class="container my-5 bg-main-light p-4 rounded-4">
    <h2>Items: {{cart.numOfCartItems}}</h2>
    <h1 class="text-main">Shop Cart</h1>
    <h3 class="text-main">Total Cart Price: {{cart.data.totalCartPrice}} EGP</h3>

    @for (product of cart.data.products; track $index) {
    <div class="row my-2 border-bottom py-2">
        <div class="col-md-1">
            <img src="{{product.product.imageCover}}" class="w-100" alt="">
        </div>
        <div class="col-md-11 d-flex justify-content-between">
            <div>
                <h4>{{product.product.title}}</h4>
                <p class="text-main">Price: {{product.price}}</p>
                <button (click)="deleteItem(product.product._id)" class="btn text-danger border border-1 "
                    id="removeButton">Remove <i class="fa-solid fa-trash"></i></button>
            </div>
            <div>
                <button (click)="updateQTY(product.product._id,product.count+1)" class="btn main-border">+</button>
                <span class="mx-2">{{product.count}}</span>
                <button [disabled]="product.count==1" (click)="updateQTY(product.product._id,product.count-1)" class="btn main-border">-</button>
            </div>
        </div>
    </div>
    }
    <button class="btn btn-primary bg-main w-100 my-2 ">Place Order</button>

</div>
}@else {
<div>
    <h2 class="text-main fw-bolder my-5 text-center "> Cart is Empty </h2>
</div>

}


}@else {
<div>
    <h2 class="text-main fw-bolder my-5 text-center ">Loading</h2>
</div>
}