<div class="container">
    <h1 class="text-main my-5">My Wishlist</h1>

    @for (product of wishlists; track $index) {


    <div class="row">
        <div class="col-md-3">
            <img [src]="product.imageCover"
                alt="product image" class="w-100">
        </div>
        <div class="col-md-9">
            <h4>{{product.title}}</h4>
            <p>{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-main">{{product.price}}EGP</h5>
                <button class="btn text-light  bg-main" (click)="addToCart(product._id)">Add To Cart</button>
                <button class="btn text-light  bg-danger" (click)="removeFromWishlist(product._id)">Remove</button>
            </div>
        </div>
    </div>
    }

</div>