 <footer class="bg-dark ">
    <div class="container text-center text-md-left">
      <div class="row pt-4 ">
        <div class="col-md-4 mb-4 my-2  ">
          <h5 class="text-light">Get the FreshCart app</h5>
          <p class="text-light">We will send you a link, open it on your phone to download the app.</p>
          <form class="d-flex justify-content-center justify-content-md-start">
            <input type="email" class="form-control" placeholder="Email ..">
            <button type="submit" class="btn btn-success ml-2">Subscribe</button>
          </form>
        </div>
  
        <div class="col-md-4 mb-4">
          <h5 class="text-light">Follow Us</h5>
          <div class="d-flex justify-content-center ">
            <a href="#" class="text-light mx-2"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a href="#" class="text-light mx-2"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a href="#" class="text-light mx-2"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a href="#" class="text-light mx-2"><i class="fa-brands fa-youtube fa-2x"></i></a>
          </div>
        </div>
  
        <div class="col-md-4">
          <h5 class="text-light">Payment Partners</h5>
          <div class="d-flex justify-content-center ">
            <img src="../../../assets/images/payment-partners.png" alt="Payment Partners" class="img-fluid mr-2">
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="container text-center text-light">
        <p class="mb-0">&copy; 2024 FreshCart.By Okda All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  