


   <footer class="bg-dark-subtle py-4">
    <div class="container ">
      <h5 class="mb-4">Get the FreshCart app</h5>
      <p class="mb-4">We will send you a link, open it on your phone to download the app.</p>
      
      <form class="d-flex justify-content-center">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email ..">
        </div>
        <button type="submit" class="btn btn-success ml-2">Share App Link</button>
      </form>
  
      <div >
        <img src="../../../assets/images/payment-partners.png" alt="Payment Partners" class="img-fluid">
       <img src="../../../assets/images/app-store.png.png" alt="App Store" class="img-fluid mx-2">
       <img src="../../../assets/images/google-play.png.png" alt="Google Play" class="img-fluid mx-2">
      </div>
    </div>
  </footer>
  