<div class="w-75 m-auto my-5 ">
    <h1>Register Now:</h1>
    <form [formGroup]="register" (ngSubmit)="sendData()">
        <input [ngClass]="{
             'is-invalid': register.get('name')?.invalid && register.get('name')?.dirty,
             'is-valid': !register.get('name')?.invalid && register.get('name')?.dirty
              }" 
        formControlName="name" type="text" class="form-control my-3" placeholder="Enter Your Name">
        <alertError [formName]="register" controlName="name" />
        <input [ngClass]="{
            'is-invalid': register.get('email')?.invalid && register.get('email')?.dirty,
            'is-valid': !register.get('email')?.invalid && register.get('email')?.dirty
             }"  formControlName="email" type="email" class="form-control my-3" placeholder="Enter Your E-mail">
        <alertError [formName]="register" controlName="email" />

        <input [ngClass]="{
            'is-invalid': register.get('password')?.invalid && register.get('password')?.dirty,
            'is-valid': !register.get('password')?.invalid && register.get('password')?.dirty
             }" formControlName="password" type="password" class="form-control my-3" placeholder="Enter Your Password">
        <alertError [formName]="register" controlName="password" />

        <input [ngClass]="{
            'is-invalid': register.get('rePassword')?.invalid && register.get('rePassword')?.dirty,
            'is-valid': !register.get('rePassword')?.invalid && register.get('rePassword')?.dirty
             }" formControlName="rePassword" type="password" class="form-control my-3"
            placeholder="reEnter Your Password">
        <alertError [formName]="register" controlName="rePassword" />

        <div class="text-danger my-3">{{errorMessage}}</div>


        <button [disabled]="register.invalid || isBtnSubmit" class="btn btn-primary w-100 my-3 " >
            @if (!isBtnSubmit) {
                Register
            }@else {<i class="fa-solid fa-spinner fa-spin"></i>} 
        </button>


    </form>

</div>